{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'database/style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script>
window.onclick = function(e){
  var myDropdown = document.getElementById('myDropdown');
  var mySlider = document.getElementById('mySlider');
  var slider = document.getElementById('slider');
  var output = document.getElementById('output');
  var class_list = e.target.classList;
  console.log(class_list);
  if(class_list.contains('company_type_toggle')) {
    // console.log("before");
    // console.log(myDropdown.classList);
    if(myDropdown.classList.contains('show')){
      myDropdown.classList.remove('show');
    } else{
      myDropdown.classList.add('show');
    }
    // console.log("after");
    // console.log(myDropdown.classList);
  } else if(class_list.contains('slider_toggle')) {
    // console.log("before");
    // console.log(mySlider.classList);
    if(mySlider.classList.contains('show')) {
      mySlider.classList.remove('show');
    } else{
      mySlider.classList.add('show');
    }
    // console.log("after");
    // console.log(mySlider.classList);
  } else {
    if(!(class_list.contains('tag_choice') || class_list.contains('slider'))) {
      mySlider.classList.remove('show');
      myDropdown.classList.remove('show');
    }
  }

  output.innerHTML = slider.value;
  // console.log("************************");

}
</script>

<style>

html {
  background: #f5f7f8;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0 0;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 20px auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
}

.card .thumb {
  /* padding-bottom: 60%; */
  background-size: cover;
  background-position: center center;
}

/* typography */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card p {
  line-height: 1.4;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  display: inline-table;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    height: 100%;

}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 46px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, option {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover , option{
    background-color: #ddd;
}

.show {
    display: block;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.customized {
  float: right;
}
.topnav_right{
  float:right;
  display: inline-flex;
}
.topnav_right #submit{
    background-color: #2196F3; /* Red */
    border: none;
    color: white;
    padding: 15px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
}
.topnav_right #clear {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 15px 46px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}
.tag_choice {
  background-color: white;
  cursor: pointer;
}

.tag_select {
  width: 100%;
  background-color: white;
  border: none;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 200px;
  outline: none;
}

.tag_choice :focus{
  background-color: red;
}
</style>
<div class="topnav">
  <div>
    <a class="active" href="https://entrepreneurs.berkeley.edu/">
      <!-- <img src = "{% static "database/images/logo.png" %}" alt="My image" height="20px"> -->
      Entrepreneurs @ Berkeley
    </a>
  </div>

    <!-- tag filter -->
    <div class="dropdown">
      <form action="/database/query/" method="get">
        <a class="company_type_toggle dropbtn">
          <i class="fa fa-caret-down"></i>
          Type
          <i class="fa fa-caret-down"></i>
        </a>
      <div class="dropdown-content" id="myDropdown">
        {%if all_tags %}
          <select class="tag_select" name="tag" multiple>
            {% for tag in all_tags %}
              <option class = "tag_choice" value="{{tag}}">{{tag}}</option>
            {% endfor %}
          </select>
        {% endif %}
      </div>
    </div>

    <!-- size filter (range selector) -->
    <div class="dropdown">
        <a class="slider_toggle dropbtn">
          <i class="fa fa-caret-down"></i>
          Company Size
          <i class="fa fa-caret-down"></i>
        </a>
      <div class="dropdown-content" id="mySlider">
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="1" class="slider" id="slider" name = "slider"/>
            <p>Size: <span id="output">1</span>+</p>
        </div>
      </div>
    </div>
    <div class= "topnav_right" >
      <input type="text" name="search" placeholder="Search.."/>
      <input type="submit" id = "submit"/>
      <a id = "clear"> Clear </a>
    </div>
  </form>
</div>
<style>
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.querynav {
  overflow: hidden;
  /* background-color: #f5f7f8; */
  display: inline-table;
  width: 100%;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>
<div class="querynav" >
  <button class="button button2">鼠标悬停后出现阴影</button>
  <button class="button button2">鼠标悬停后出现阴影</button>
  <button class="button button2">鼠标悬停后出现阴影</button>
</div>

<div class="band">
    {% if all_companies %}
    {% for c in all_companies %}
    <div class="item-{{ forloop.counter }}">
          <a href="{{c.company_website}}" class="card">
            <div class="thumb">
              <img src="{% static "database/images/logo.png" %}" alt="{% static "database/images/logo.png" %}"/>
            </div>
            <article>
              <h1>{{ c.company_name }}</h1>
              <span>{{c.company_description}}</span>
            </article>
          </a>
    </div>
    {% endfor %}
  {% else %}
      <p>No companies are available.</p>
  {% endif %}
</div>
