{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'database/style.css' %}" />

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <form action="/database/search/" method="get">
      <input type="text" name="q" placeholder="Search..">
  </form>
</div>


<div class="support-grid"></div>
<div class="band">
    {% if all_companies %}
    {% for c in all_companies %}
    <div class="item-{{ forloop.counter }}">
          <a href="{{c.company_website}}" class="card">
            <div class="thumb" style="background-image: url({{c.company_image_url}});"></div>
            <article>
              <h1>{{ c.company_name }}</h1>
              <span>{{c.company_description}}</span>
            </article>
          </a>
    </div>
    {% endfor %}
  {% else %}
      <p>No companies are available.</p>
  {% endif %}
</div>
