{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'database/style.css' %}" />
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
<script>

window.onclick = function(e){
  var myDropdown = document.getElementById('myDropdown');
  var mySlider = document.getElementById('mySlider');
  var output = document.getElementById('output');
  var class_list = e.target.classList;
  console.log(class_list);
  if(class_list.contains('company_type_toggle')) {
    // console.log("before");
    // console.log(myDropdown.classList);
    if(myDropdown.classList.contains('show')){
      myDropdown.classList.remove('show');
    } else{
      myDropdown.classList.add('show');
    }
    // console.log("after");
    // console.log(myDropdown.classList);
  } else if(class_list.contains('slider_toggle')) {
    // console.log("before");
    // console.log(mySlider.classList);
    if(mySlider.classList.contains('show')) {
      mySlider.classList.remove('show');
    } else{
      mySlider.classList.add('show');
    }
    // console.log("after");
    // console.log(mySlider.classList);
  } else {
    if(!(class_list.contains('tag_choice') || class_list.contains('slider'))) {
      mySlider.classList.remove('show');
      myDropdown.classList.remove('show');
    }
  }
  // console.log("************************");

}
</script>

<div class="topnav">
  <div>
    <a class="active" href="https://entrepreneurs.berkeley.edu/">
      <!-- <img src = "{% static "database/images/logo.png" %}" alt="My image" height="20px"> -->
      Entrepreneurs @ Berkeley
    </a>
  </div>

    <!-- tag filter -->
    <div class="dropdown">
      <form action="/database/query/" method="get">
        <a class="company_type_toggle dropbtn">
          <i class="fa fa-caret-down"></i>
          Type
          <i class="fa fa-caret-down"></i>
        </a>
      <div class="dropdown-content" id="myDropdown">
        {%if all_tags %}
          <select name="tag" multiple>
            {% for tag in all_tags %}
              <option class = "tag_choice" value="{{tag}}">{{tag}}</option>
            {% endfor %}
          </select>
        {% endif %}
      </div>
    </div>

    <!-- size filter (range selector) -->
    <div class="dropdown">
        <a class="slider_toggle dropbtn">
          <i class="fa fa-caret-down"></i>
          Company Size
          <i class="fa fa-caret-down"></i>
        </a>
      <div class="dropdown-content" id="mySlider">
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="1" class="slider" id="slider" name = "slider"/>
            <p>Size: <span id="output">1</span>+</p>
        </div>
      </div>
    </div>
    <div class= "topnav_right" >
      <input type="text" name="search" placeholder="Search.."/>
      <input type="submit"/>
      <a> clear </a>
    </div>
  </form>
</div>
<style>
.topnav_right{
  display: inline-flex;
}

</style>

<div class="band">
    {% if all_companies %}
    {% for c in all_companies %}
    <div class="item-{{ forloop.counter }}">
          <a href="{{c.company_website}}" class="card">
            <!-- <div class="thumb" style="background-image: url({{c.company_image_url}});"></div> -->
            <article>
              <h1>{{ c.company_name }}</h1>
              <span>{{c.company_description}}</span>
            </article>
          </a>
    </div>
    {% endfor %}
  {% else %}
      <p>No companies are available.</p>
  {% endif %}
</div>
